APP_NAME=apps
APP_ENV=development
APP_PORT=4500

# PROD
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=apps
DB_SSLMODE=disable

# JWT
JWT_SECRET=supersecret
JWT_EXPIRED=5h
