APP_NAME=apps
APP_ENV=local
APP_PORT=4500

# Database
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=password
DB_NAME=module_template
DB_SSLMODE=disable

# JWT
JWT_SECRET=supersecret
JWT_ACCESS_TOKEN_TTL=15
JWT_REFRESH_TOKEN_TTL=7

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# CORS
CORS_ORIGINS="http://localhost:4500"
